[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
gunicorn = "==19.9.0"
whitenoise = "==3.3.1"
Django = "==2.1"
django-configurations = "==2.1"


[requires]
python_version = "3.7"
