{%  extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% comment %} {% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %} {% endcomment %}
  <h1>Welcome to Whether or Not.....</h1>
    <div id="banner">
    <div id="cloud-scroll">
      {% block body_content %}
      {% endblock body_content %}
    </div>
  </div>
{% endblock content %}